@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <style>
        .form-login {
            width: 300px;
            height: 359px;
            border: 1px solid red;
            padding: 20px;
        }

        .div-register {
            float: right;
        }

        h3 {
            display: inline;
        }

        a {
            text-decoration: none;
        }

        .div-register a {
            color: red;
        }

        .div-register b {
            background: url("/Content/image/bg/pwd-icons-new.png") -100px -75px no-repeat;
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 5px;
        }

        .div-msg {
            border: 1px solid #ffe57d;
            height: 27px;
            margin-top: 10px;
            background-color: #fff6d2;
            color: #666;
            line-height: 18px;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .txt {
            height: 30px;
            line-height: 30px;
            width: 233px;
            font-size: 15px;
            padding-left: 5px;
        }

        .div-uname {
            margin-top: 10px;
        }


        .div-msgContent b {
            background: url("/Content/image/bg/pwd-icons-new.png") -104px -22px no-repeat;
            display: inline-block;
            width: 12px;
            height: 18px;
            position: relative;
            top: 3px;
            left: 4px;
        }

        .div-msgContent label {
            padding-left: 5px;
        }



        .div-left {
            float: left;
        }

            .div-left span {
                cursor: pointer;
            }

        .div-right {
            float: right;
        }

        .div-check {
            font-size: 12px;
        }

        .div-button {
            text-align: center;
            clear: left;
            padding-top: 10px;
        }

            .div-button a {
                display: block;
                width: 250px;
                height: 30px;
                color: red;
                line-height: 30px;
                margin: 0 auto;
                background-color: #e4393c;
                color: #ffffff;
                cursor: pointer;
            }

        .div-box {
            width: 1190px;
            margin: 0 auto;
            border: 1px solid red;
        }

        .div-top {
            height: 100px;
        }

        .div-content {
        }

        .div-con-left {
            border: 1px solid black;
            float: left;
        }

        .w900 {
            width: 846px;
            height: 400px;
        }

        .w300 {
            width: 340px;
            height: 400px;
        }

        .div-con-right {
            width: 200px;
            height: 400px;
            border: 1px solid green;
            float: left;
        }

        .div-clear {
            overflow: hidden;
            zoom: 1;
        }

        .div-con-button {
            height: 150px;
            border: 1px solid red;
        }

        .div-back {
            width: 100%;
            height: 400px;
        }
    </style>
    <script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script>

    </script>
</head>
<body>
    <form action="/" method="post">
        <div>
            <div class="div-box div-top">

            </div>
            <div class="div-back">
                <div class="div-box div-content div-clear">
                    <div class="div-con-left w900">
                    </div>
                    <div class="div-con-left w300">
                        <div class="form-login">

                            <div>
                                <h3>0dian 会员</h3>
                                <div class="div-register">
                                    <b></b>
                                    <a href="#"> 注册</a>
                                </div>
                            </div>
                            <div class="div-msg">
                                <div class="div-msgContent">
                                    <b></b>
                                    <label>公共场所不建议自动登录，以防账号丢失</label>
                                </div>

                            </div>
                            <div class="div-uname">
                                <label>用户名</label>
                                <input type="text" placeholder="账号" class="txt" />
                            </div>
                            <div class="div-uname">
                                <label>密&nbsp;码</label>
                                <input type="password" placeholder="密码" class="txt" />
                            </div>
                            <div class="div-check div-uname">
                                <div class="div-left">
                                    <span>
                                        <input type="checkbox" /><label>记住密码</label>
                                    </span>
                                </div>
                                <div class="div-right">
                                    <a href="#">忘记密码？</a>
                                </div>
                            </div>
                            <div class="div-button">
                                <a href="#"><h3>登录</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-con-button div-box">

            </div>
        </div>
    </form>
</body>
</html>
